* {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 1px 5px;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 18px;
  color: var(--text-color);
  cursor: default;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s ease;
}
.logo img:hover {
  transform: scale(1.1);
}
.navebar {
  font-size: 1.7rem;
  color: var(--text-color);
  transition: 0.3s;
  margin-right: 20px;
  font-weight: bold;
}
.navebar a {
  color: var(--text-color);
  margin-left: 4rem;
  border-radius: 15px;
}
.navebar a:hover,
.navebar a.active {
  color: var(--second-bg-color);
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
}
.social_media a img {
  width: 30px;
  height: auto;
  font-size: 24px;
  padding-inline: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  background-color: #1f242d;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
}
.social_media a img:hover {
  color: var(--second-bg-color);
  background-color: var(--main-color);
  border: 0.2rem solid var(--main-color);
}
section {
  min-height: 100vh0;
  padding: 10rem 5% 2rem;
}
.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}
.home-img img {
  width: 30vw;
  border-radius: 50%;
  transition: 0.5s ease;
  margin-right: 10px;
  background-position: 100%;
  padding-left: 15px;
}
.home-img img:hover {
  transform: scale(1.1);
}
.home_content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home_content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home_content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home_content p {
  font-size: 1.5rem;
  font-weight: bold;
}
span {
  color: var(--main-color);
}
.btn {
  display: inline-flex;
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5ease;
}
.btn:hover {
  box-shadow: none;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}
.about-img img {
  width: 35vw;
  border-radius: 50%;
  padding-bottom: 20px;
}
.heading {
  text-align: cente;
  font-size: 4.5rem;
}
.about-content {
  text-align: left;
  line-height: 1.2;
  font-size: 2rem;
}
.about-content h3 {
  font-family: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem0 3rem;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}
.servises {
  margin-top: 0px;
  margin-bottom: 85px;
}
.service-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servises-box {
  padding-inline: 10px;
}
.service-box-container .servises-box {
  flex-wrap: wrap;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.6rem solid var(--bg-color);
  transition: 0.5s ease;
}
.servises-box img {
  width: 80px;
  border-radius: 25%;
}
.servises-box h3 {
  font-size: 30px;
}
.servises-box p {
  font-size: 18px;
  margin: 1rem 0 3rem;
}
.heading {
  text-align: center;
  padding-bottom: 50px;
}
.service-box-container .servises-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.Portfolio {
  background: var(--second-bg-color);
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfoli-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfoli-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.portfolio-box .portfolyo-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio-box:hover .portfolyo-layer {
  transform: translateY(0);
}
.portfolio-box img {
  width: 600px;
  transition: 0.5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio-box a img {
  width: 25px;
  border-radius: 25%;
}
.portfolyo-layer h4 {
  font-size: 3rem;
}
.portfolyo-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.portfolyo-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.portfolyo-layer a img {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* .contact{
  height: 600px;
  width: 100%;
  align-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}
.info{
  height: 400px;
  width: 500px;
  background: var(--main-color);
  border-radius: 25px;
  align-content: center;
}
.info input{
  align-items: center;
  border-radius: 25px;
  align-content: center;
  text-align: center; 
  margin-left: 25px; 
  margin-top: 50px;
} */